main {
    section .tabs .container {
        @include container(calc(100% + 2rem), 1200px, hidden, 0 auto);
        @include grid(repeat(2, 1fr));
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    section .container {
        @include container(calc(100% + 2rem), 1200px, hidden, 0 auto);
    }

    @include lg() {
        section {
            text-align: center;
        }
    }

    .contact {
        @include container(calc(100% + 2rem), 1200px, hidden, 0 auto);
        padding: 1rem;

        & ul li {
            text-align: center;
            padding: 1rem 0;
        }

        & ul li a {
            padding: 0 .5rem;
        }
    }
}

.container {
    @include container(calc(100% + 2rem), 1200px, hidden, 0 auto);

    .container:nth-child(1) {
        background-color: orange;
    }

    .column:nth-child(2) {
        background-color: purple;
    }

    .column:nth-child(3) {
        background-color: red;
    }

    .column:nth-child(4) {
        background-color: green;
    }

    .column:nth-child(5) {
        background-color: yellow;
    }

    .column .row>p:nth-child(1) {
        background-color: #fff;
        text-align: center;
    }

    .column .row p:nth-child(2) {
        background-color: blue;
    }
}