@mixin btn () {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: .5rem 2rem;
    border-radius: 15px;
    border: none;
}

@each $key,
$val in $colors {
    .btn-#{$key} {
        @include btn();
        background-color: $val;

        &:hover {
            background-color: lighten($val, 5)
        }
    }

    .btn-outlined-#{$key} {
        @include btn();
        border: 2px solid $val;

        &:hover {
            background-color: $val;
        }
    }
}

.scroll {
    position: fixed;
    display: none;
    inset: 90% 0 0 90%;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 2rem;
    border: 2px solid #fff;

    .fa-chevron-up {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }

    &:hover {
        transform: scale(120%, 120%);
    }
}