@mixin btn () {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: .5rem 2rem;
    border-radius: 15px;
    border: none;
}

@each $key,
$val in $colors {
    .btn-#{$key} {
        @include btn();
        background-color: $val;

        &:hover {
            background-color: lighten($val, 5)
        }
    }

    .btn-outlined-#{$key} {
        @include btn();
        border: 2px solid $val;

        &:hover {
            background-color: $val;
        }
    }
}