.slide-top {
    animation: slide-top 0.5s ease-in-out;
}

.slide-right {
    animation: slide-right 0.5s ease-in-out;
}

.slide-left {
    animation: slide-left 0.5s ease-in-out;
}

.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(400px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-400px);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes scale-in-center {
    0% {

        transform: scale(0);
        opacity: 1;
    }

    100% {

        transform: scale(1);
        opacity: 1;
    }
}