$text-white: #ffffff;
$text-black: #333;


$base-font-size: 1em;

$font-size: (
    "sm": $base-font-size * 1,
    "md": $base-font-size * 1.5,
    "lg": $base-font-size * 2,
    "xl": $base-font-size * 2.5,
    "xxl": $base-font-size * 3,
);

@each $key,
$val in $font-size {
    .text-#{$key} {
        font-size: $val
    }
}

$colors: (
    "white": $text-white,
    "black": $text-black,
);

@each $key,
$val in $colors {
    .text-#{$key} {
        color: $val
    }

    @for $i from 1 through 9 {
        .text-#{$key}-light-#{$i} {
            color: mix(white, $val, $i * 10%)
        }

        .text-#{$key}-dark-#{$i} {
            color: mix(black, $val, $i * 10%)
        }
    }
}

//$directions: center, end, justify, left, right, start;

$text-left: left;
$text-center: center;
$text-end: end;
$text-justify: justify;
$text-right: right;
$text-start: start;

$text-align: (
    "left": $text-left,
    "center": $text-center,
    "end": $text-end,
    "justify": $text-justify,
    "right": $text-right,
);

@each $key,
$val in $text-align {
    .text-#{$key} {
        text-align: $val;
    }
}