$text-white: #ffffff;
$text-black: #333;

.text-white {
    color: $text-white;
}

.text-black {
    color: $text-black
}

.text-sm {
    font-size: 1em;
}

.text-md {
    font-size: 1.5em;
}

.text-lg {
    font-size: 2em;
}

.text-xl {
    font-size: 2.5em;
}