main {
    .container {
        @include container(calc(100% + 2rem), 1200px, hidden, 0 auto);
    }

    .container .tab-content-item {
        @include grid(repeat(2, 1fr));
        cursor: pointer;
        background-color: blue;
        border-bottom: orange 4px solid;
    }

    .container h2 #tab-1 #tab-2:hover {
        background-color: #fff;
    }
}