.programming-lang-container {
    @include grid(repeat(3, 1fr));
    place-items: center;
    gap: 2rem;

    .html-logo {
        height: 150px;
        width: 150px;
    }

    .css-logo {
        height: 180px;
        width: 170px;
    }

    .javascript-logo {
        height: 160px;
        width: 230px;
    }

    .sass-logo {
        height: 160px;
        width: 160px;
    }

    .php-logo {
        height: 160px;
        width: 200px;
    }

    .mysql-logo {
        height: 160px;
        width: 200px;
    }
}