/*
.tab-content-item {

    .container {
        @include container(calc(100% + 2rem), 1200px, hidden, 0 auto);
        justify-content: space-between;

        .programming-lang-container {
            @include grid(repeat(3, 1fr));
            place-items: center;
            gap: 2rem;

            .html-logo {
                height: 150px;
                width: 150px;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 5px;
                    padding: 1rem;
                }
            }

            .css-logo {
                height: 190px;
                width: 180px;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 5px;
                    padding: 1rem;
                }
            }

            .javascript-logo {
                height: 160px;
                width: 250px;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 5px;
                    padding: 1rem;
                }
            }

            .sass-logo {
                height: 140px;
                width: 150px;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 5px;
                    padding: 1rem;
                }
            }

            .php-logo {
                height: 170px;
                width: 210px;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 5px;
                    padding: 1rem;
                }
            }

            .mysql-logo {
                height: 170px;
                width: 210px;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 5px;
                    padding: 1rem;
                }
            }
        }
    }
}
*/