main {
    padding: 0 2rem;

    section {
        position: relative;

        #tab-1-content,
        #tab-2-content,
        #tab-3-content,
        #tab-4-content,
        #tab-5-content,
        #tab-6-content,
        #ux-1-content,
        #ux-2-content,
        #ux-3-content,
        #ux-4-content {
            display: none;
        }

        .tabs {
            cursor: pointer;
        }

        .tab-content img {
            width: 20%;
            height: auto;
            margin: 0 auto;
        }

        .tab-ux-content img {
            width: 20%;
            height: auto;
            margin: 0 auto;
        }

        @include xl () {
            main {
                margin: 0 2rem;
            }

            .tab-container {
                margin-bottom: 2rem;
            }
        }

        @include lg () {
            body {
                margin: 0 2rem;
                padding: 1rem;
            }

            .tab-content h2 {
                padding: 0;
            }

            .tab-content .flex {
                flex-direction: column;
                margin-top: 2rem;
            }

            .tab-ux-content .flex {
                flex-direction: column;
            }
        }

        @include md () {
            .scroll {
                display: none !important;
            }
        }

        @include sm() {
            main {
                padding: 2rem;
            }
        }
    }
}