main {
    section {
        position: relative;

        #tab-1-content,
        #tab-2-content,
        #tab-3-content,
        #tab-4-content,
        #tab-5-content,
        #tab-6-content,
        #ux-1-content,
        #ux-2-content,
        #ux-3-content {
            display: none;
        }

        .tabs {
            cursor: pointer;
        }

        .tab-content img {
            width: 20%;
            height: auto;
            margin: 0 auto;
        }

        .tab-ux-content img {
            width: 50%;
            height: auto;
            margin: 0 auto;
        }

        @include lg () {
            .tab-content .flex {
                flex-direction: column;
            }

            .tab-ux-content .flex {
                flex-direction: column;
            }
        }
    }
}